*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
}

canvas {
  width: 600px;
  height: 600px;

  color: rgb(144, 238, 164);
}